<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset=utf-8 />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
  <link rel="shortcut icon" href="https://graphcool-playground.netlify.com/favicon.png">
  <title>GraphQL Playground</title>

  <%= stylesheet_link_tag    "graphql_playground/application", media: "all" %>
  <%= javascript_include_tag "graphql_playground/application" %>
</head>
<body>
<%= yield %>
</body>
</html>
